:host {
    position: absolute;

    .hidden {
        display: none !important;
        opacity: 0;
        transition: opacity .5s;
    }

    .visible {
        opacity: 1;
        transition: opacity .5s;
    }
}
